<div class="ekart--product--container">
   <!-- <img [src]="product.pImage">
    <p>Name: {{product.name}}</p>
    <p>Price: {{'$'+product.price}}</p>
    <p>Color: {{product.color}}</p>
    <p>Discounted Price: {{getDiscountPrice().toFixed(2)}}</p>
    <p>{{product.inStock>0? 'Only '+ product.inStock + ' items left': 'Not in stock'}}</p>
    <button (click)="decrementValue()">-</button>
    <span>{{addToCard}}</span>
    <button (click)="incrementValue()">+</button>
    <input (input)="onNameChange($event)"><br>
    <p>name={{name}}</p>>-->
    <search></search>
   <!-- <div *ngFor="let item of listofString">
        <p>Current element is: {{item}}</p>
    </div>-->
    <product-list></product-list>
</div> 